{% extends "mainApp/header.html" %}

{% block content %}


<h5 class='heading'>Please provide below required details to add a tutorial </h5>
<!-- default widget from django -->
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}

    <button class="waves-effect waves-light btn" type="submit">Save</button>
</form>

<!-- for accessing every fields individually 
  <div class="row">
    <form class="col s12" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Tutorial title" id="tutorial_title" type="text" class="validate">
          <label for="tutorial_title">{{form.title}}</label>
        </div>
        
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="linked_series"  class="validate">
          <label for="linked_series">{{form.linked_series}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="content" placeholder="Place your tutorial contents here" class="materialize-textarea"></textarea>
          <label for="content">{{form.content}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          This text will be used for refereing the tutorial in url:
          <div class="input-field inline">
            <input id="slug" placeholder="Tutorial slug" class="validate">
            <label for="email_inline">{{form.slug}}</label>
            <span class="helper-text" data-error="wrong" data-success="right">Should be small and unique</span>
          </div>

        </div>
      </div>

      <button class="waves-effect waves-light btn" type="submit">Save</button>

    </form>
  </div>
-->      

{% endblock %}