
{% extends 'mainApp/header.html' %}

{% block content %}

    <div class="row">
        {% for cat in categories %}
            <div class="col s12 m6 l4">
                <a href="{{cat.category_slug}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{cat.tutorial_category}}</div>
                            <!--<p style="font-size:70%">Published {{tut.tutorial_published}}</p>-->
                            <p>{{cat.category_summary}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div claa="sections">
        <button class="btn-large waves-effect waves-light red" >
            <a href="{% url 'mainApp:addCategory' %}" style="color:blanchedalmond ;">Add a new Category</a> 
        </button>
    </div>

    <!-- This is the component to add gloating button for several options -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating red" href="{% url 'mainApp:addCategory' %}"><i class="material-icons">insert_chart</i></a>
            </li>
            <li>
                <a class="btn-floating yellow darken-1" href="{% url 'mainApp:addSeries' %}"><i class="material-icons">format_quote</i></a>
            </li>
            <li>
                <a class="btn-floating green"><i class="material-icons" href="{% url 'mainApp:addTutorial' %}">publish</i></a>
            </li>
            <li>
                <a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
            </li>
        </ul>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var options = {
                            direction: 'top',      //default='top'
                            hoverEnabled: true,    //default=true
                            //toolbarEnabled: true    //default=false
                        }
            var instances = M.FloatingActionButton.init(elems, options);
        });
    </script>

{% endblock %}
