
{% extends 'mainApp/header.html' %}

{% block content %}

    {% load static %}

    <div class="row">
        {% for cat in categories %}
            <div class="col s12 m6 l4">
                <a href="{{cat.category_slug}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{cat.tutorial_category}}</div>
                            <!--<p style="font-size:70%">Published {{tut.tutorial_published}}</p>-->
                            <p>{{cat.category_summary}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div claa="sections">
        <button class="btn-large waves-effect waves-light red" >
            <a href="{% url 'mainApp:addCategory' %}" style="color:blanchedalmond ;">Add a new Category</a> 
        </button>
    </div>

    <!-- This is the component to add gloating button for several options -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating tooltipped red" href="{% url 'mainApp:addCategory' %}" data-tooltip="add category"><i class="material-icons">insert_chart</i></a>
            </li>
            <li>
                <a class="btn-floating tooltipped yellow darken-1" href="{% url 'mainApp:addSeries' %}" data-tooltip="add series"><i class="material-icons">format_quote</i></a>
            </li>
            <li>
                <a class="btn-floating tooltipped green" href="{% url 'mainApp:addTutorial' %}" data-tooltip="add tutorial"><i class="material-icons">publish</i></a>
            </li>
            <li>
                <a class="btn-floating tooltipped blue" data-tooltip="I am a tooltip"><i class="material-icons">attach_file</i></a>
            </li>
        </ul>
    </div>

    

{% endblock %}
