<!DOCTYPE html>
<html lang="en">
    <head>
        
        <!-- Te purpose of header.html is it will contain the common objects from most pages
            eg. nav bar, footer, etc which they can extends
            It will not include any unique data of any page, 
            they will be placed where block content is specified
            on this page
        -->

        {% load static %}
        <link href="{% static 'tinymce/css/prism.css' %}" rel='stylesheet'/>

        <!-- Used for material design of your page from materializecss.com-->
        <!-- Compiled and minified CSS -->
        <link href="{% static 'mainApp/css/materialize.css' %}" rel='stylesheet'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  <!--link for materialized icons -->

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    </head>

    <body>
            
        {% include "mainApp/includes/navbar.html" %}
        
        <!-- the place where the unique content from child page will sit-->
        <div class="container">
            <br/>
            {% block content %}
            
            {%endblock%}
        </div>
    




        <!-- Common Scripts sections -->

            <!-- Compiled and minified JavaScript for materialize design -->
            <script src="{% static 'mainApp/js/bin/materialize.js' %}" ></script>
            
            <!-- Prism JS -->
            <script src="{% static 'tinymce/js/prism.js' %}"></script>

            <!-- Intialize all materializecss js with default values -->
            <script>M.AutoInit();</script>

            <!-- toast messages script-->
            {% include "mainApp/includes/messages.html" %}

        <!-- block for unique js of each page -->
        {% block js %}
            
        {%endblock%}
        
    </body>

    

</html>